@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

.allura-bold {
  font-family: 'Allura', cursive;
  font-weight: 700;
  font-style: normal;
}

.loading-scene {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: black;
}

.banner {
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner .slider {
  position: absolute;
  width: 25%;
  height: 30%;
  @media screen and (max-width: 1024px) {
    width: 20%;
    height: 23%;
  }
  @media screen and (min-width: 1025px) and (max-width: 1440px) {
    width: 22%;
    height: 25%;
  }
  top: 15%;
  left: 50%;
  transform-style: preserve-3d;
  transform: translateX(-50%) perspective(3000px);
  animation: autoRun 1.5s ease infinite;
  z-index: 2;
}

@keyframes autoRun {
  from {
    transform: translateX(-50%) perspective(3000px) rotateX(-20deg) rotateY(0deg);
  }
  to {
    transform: translateX(-50%) perspective(3000px) rotateX(-20deg) rotateY(360deg);
  }
}

.banner .slider .item {
  position: absolute;
  inset: 0 0 0 0;
  transform: rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(700px);
  @media screen and (max-width: 1024px) {
    transform: rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg))
      translateZ(250px);
  }
  @media screen and (min-width: 1025px) and (max-width: 1440px) {
    transform: rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg))
      translateZ(300px);
  }
  @media screen and (min-width: 1441px) and (max-width: 2056px) {
    transform: rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg))
      translateZ(400px);
  }
}

.banner .slider .item img {
  height: 95%;
  @media screen and (max-width: 1024px) {
    width: 85%;
  }
  object-fit: contain;
}

.banner .content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: max-content;
  padding-bottom: 5%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
}

.banner .content h1 {
  font-family: 'Poetsen One', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10em;
  color: white;
  position: relative;
  @media screen and (max-width: 1024px) {
    font-size: 4em;
  }
  @media screen and (min-width: 1025px) and (max-width: 1440px) {
    font-size: 6em;
  }
  @media screen and (min-width: 1441px) and (max-width: 2056px) {
    font-size: 7em;
  }
}

.banner .content h1::after {
  content: 'MY DREAM GARAGE';
  position: absolute;
  inset: 0 0 0 0;
  z-index: 2;
  -webkit-text-stroke: 2px white;
  color: rgba(0, 0, 0, 0.4);
}

.banner .content .author {
  text-align: right;
  font-family: 'Dancing Script', cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  margin: 0;
  color: white;
  font-size: 2.5em;
  z-index: 1;
  text-shadow: 2px 2px 4px black;
  @media screen and (max-width: 1024px) {
    font-size: 1.25em;
  }
  @media screen and (min-width: 1025px) and (max-width: 1440px) {
    font-size: 1.5em;
  }
  @media screen and (min-width: 1441px) and (max-width: 2056px) {
    font-size: 1.5em;
  }
}

.banner .content h2 {
  margin: 0;
  font-size: 3em;
  @media screen and (max-width: 1024px) {
    font-size: 1.5em;
  }
  @media screen and (min-width: 1025px) and (max-width: 1440px) {
    font-size: 1.5em;
  }
  @media screen and (min-width: 1441px) and (max-width: 2056px) {
    font-size: 2em;
  }
}
.banner .content p {
  white-space: nowrap;
  text-align: right;
  font-size: 1.75em;
  font-family: 'Teko', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  z-index: 1;
  text-shadow: 2px 2px 4px black;
  @media screen and (max-width: 1024px) {
    font-size: 1.25em;
  }
  @media screen and (min-width: 1025px) and (max-width: 1440px) {
    font-size: 1.5em;
  }
  @media screen and (min-width: 1441px) and (max-width: 2056px) {
    font-size: 1.4em;
  }
}

.banner .content .model {
  background: url('/assets/images/loadingCar.webp');
  width: 100%;
  height: 80vh;
  @media screen and (max-width: 1024px) {
    height: 70vh;
  }
  @media screen and (min-width: 1025px) and (max-width: 1440px) {
    height: 75vh;
  }
  position: absolute;
  bottom: 0;
  left: 0;
  background-size: auto 140%;
  background-repeat: no-repeat;
  background-position: top center;
  z-index: 0;
}

