.mobile-scene {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mobile-scene, 
.content, 
.content h1, 
.content h1::after, 
.content .author, 
.content h2, 
.content p, 
.content h3, 
.content .model, 
.mobile-credits-container, 
.mobile-contact-container, 
.mobile-list, 
.mobile-list-item {
    user-select: none;
}

.content {
  position: relative;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  justify-content: space-around;
  align-items: center;
  z-index: 1;
}

.content h1 {
  font-family: 'Poetsen One', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 8em;
  color: white;
  position: relative;
  @media screen and (max-width: 393px) {
    font-size: 2.5em;
  }
  @media screen and (min-width: 394px) and (max-width: 480px) {
    font-size: 2.5em;
  }
  @media screen and (min-width: 480px) {
    font-size: 3em;
  }
}

.content h1::after {
  content: 'MY DREAM GARAGE';
  position: absolute;
  inset: 0 0 0 0;
  z-index: 2;
  -webkit-text-stroke: 2px white;
  color: rgba(0, 0, 0, 0.4);
}

.content .author {
  text-align: right;
  font-family: 'Dancing Script', cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: white;
  font-size: 2.5em;
  transform: translateY(3em);
  z-index: 1;
  text-shadow: 2px 2px 4px black;

  @media screen and (max-width: 393px) {
    font-size: 0.75em;
  }
  @media screen and (min-width: 394px) and (max-width: 480px) {
    font-size: 0.7em;
  }
  @media screen and (min-width: 480px) {
    font-size: 0.8em;
  }
}

.content h2 {
  font-size: 3em;

  @media screen and (max-width: 393px) {
    font-size: 1.5em;
  }
  @media screen and (min-width: 394px) and (max-width: 480px) {
    font-size: 1.5em;
  }
  @media screen and (min-width: 480px) {
    font-size: 2em;
  }
}

.content p,
.content h3 {
  white-space: nowrap;

  font-size: 1.75em;
  font-family: 'Teko', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  z-index: 1;
  text-shadow: 2px 2px 4px black;

  @media screen and (max-width: 393px) {
    font-size: 1.25em;
  }
  @media screen and (min-width: 394px) and (max-width: 480px) {
    font-size: 1.5em;
  }
  @media screen and (min-width: 480px) {
    font-size: 1.4em;
  }
}

.content .model {
  background: url('/assets/images/loadingCar.webp');
  width: 100%;
  height: 80vh;

  @media screen and (max-width: 393px) {
    height: 50vh;
  }
  @media screen and (min-width: 394px) and (max-width: 480px) {
    height: 50vh;
  }
  @media screen and (min-width: 480px) {
    height: 50vh;
  }
  position: absolute;
  bottom: 0;
  left: 0;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: top center;
  z-index: 0;
}

.mobile-credits-container,
.mobile-contact-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;

  h3 {
    @media screen and (max-width: 393px) {
      font-size: 1.5em;
    }
    @media screen and (min-width: 394px) and (max-width: 480px) {
      font-size: 1.75em;
    }
    @media screen and (min-width: 480px) {
      font-size: 2em;
    }
  }
}

.mobile-list {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  column-gap: 8em;

  @media screen and (max-width: 393px) {
    column-gap: 1em;
  }
  @media screen and (min-width: 394px) and (max-width: 480px) {
    column-gap: 1.1em;
  }
  @media screen and (min-width: 480px) {
    column-gap: 1.2em;
  }
}

.mobile-credits-container {
  overflow: hidden;
  width: 100%;
}

.mobile-list-item {
  opacity: 1;
  img {
    width: 9em;
    height: 9em;
    @media screen and (max-width: 393px) {
      width: 2.5em;
      height: 2.5em;
    }
    @media screen and (min-width: 394px) and (max-width: 480px) {
      width: 3em;
      height: 3em;
    }
    @media screen and (min-width: 480px) {
      width: 3.5em;
      height: 3.5em;
    }
  }
}

